<html>
    <head>
        <title>Fun stuff</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Soft kitty</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Knock knock</a></h2>
            <p>Soft kitty, </p>

				<p>Warm kitty, </p>

				<p>Little ball of fur.</p>

				<p>Happy kitty, </p>

				<p>Sleepy kitty, </p>

				<p>Purr Purr Purr</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">In the jungle, the mighty jungle</a></h2>
            <p>A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh</p>
<p>A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh</p>
<p>A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh</p>
<p>A-weema-weh, a-weema-weh, a-weema-weh, a-weema-weh</p>

<p>In the jungle, the mighty jungle</p>
<p>The lion sleeps tonight</p>
<p>In the jungle the quiet jungle</p>
<p>The lion sleeps tonight</p>
        </div>
    </body>
</html>